:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  margin: 0;
  font-size: 18px !important;

  --logocolor: #0d6efd;
}

#firebaseui-auth-container {
  font-weight: 800;
}

.logged-in #firebaseui-auth-container {
  display: none !important;
  height: 0 !important;
}

.logged-in main {
  display: block !important;
}

footer {
  color: #444;
  font-size: 0.875rem;
  text-align: center;
}

footer a {
  color: inherit;
}

header img {
  min-width: 170px;
  max-width: 75%;
  line-height: auto;
  vertical-align: center;
}

.products {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.product img {
  width: 300px;
}

.product input {
  border: 1px solid blue;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  padding: 0.25rem;
}

select {
  transition: box-shadow 0.2s ease;
  background: none;
  border: 5px solid #fbc02e;
  font-size: 1.25rem;
}

#subscribe,
#my-subscription {
  display: none;
}

/* Test card number */
.test-card-notice {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.card-number {
  display: inline;
  white-space: nowrap;
  color: #3c4257;
  font-weight: 500;
}

.card-number span {
  display: inline-block;
  width: 4px;
}

.header-wrapper {
  background: #fff;
  padding: 1rem 5vw;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(2, 50%);
}

header a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}

/*
header button {
  float: right;
  margin-left: 1em;
  display: none !important;
  clear: both;
}
*/

header *:not(h1),
header button,
header button * {
  font-size: 0.85rem !important;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*
#credential_picker_container {
  position: inherit !important;
}
*/

/*
#wrapper {max-width: 1440px !important; margin: 0 auto}
*/

.container {
  max-width: inherit !important;
}

#login-top {
  display: none;
}

.not-logged-in #login-top {
  display: block !important;
}

#reportrange {
  color: grey !important;
  border: 1px solid grey !important;
  padding: 0.45em 0.6em !important;
  margin-left: 0.5em;
  border-radius: 0.4em;
}

.ranges,
.ranges *,
.daterangepicker,
.daterangepicker * {
  font-size: inherit !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif !important;
}

.daterangepicker .ranges * * {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.daterangepicker .drp-calendar {
  font-size: 0.9rem !important;
}

.daterangepicker.ltr.show-ranges:not(.show-calendar) {
  width: 265px !important;
}

.daterangepicker.ltr.show-ranges:not(.show-calendar) * {
  width: 100% !important;
}

.daterangepicker .ranges li.active {
  background: #0d6efd !important;
}

.daterangepicker .ranges {
  border-right: 1px solid #ddd;
}

.drp-calendar.left {
  border-left: none !important;
}

.form-switch .form-check-input {
  height: 1.5rem;
  width: 3em !important;
  border-radius: 2rem;
  margin-right: 0.4em;
  vertical-align: middle !important;
}

nav-tabs nav-link border-bottom rounded-0 {
  border: 0 !important;
}

.underline-nav {
  font-size: 0.85rem !important;
}

.underline-nav .nav-item {
  padding: 0.4rem 0.5rem !important;
}

.underline-nav a {
  color: grey;
}

.underline-nav .active a {
  color: black;
  font-weight: bold;
}

.underline-nav .nav-item > a {
  padding: 0 !important;
  border: 0 !important;
}

.underline-nav .active {
  border-bottom: 3px solid black;
  margin-bottom: -1px;
}

.underline-nav .dropdown-menu {
  margin-top: 0 !important;
}

.card-title {
  margin-bottom: 1rem !important;
  color: #333 !important;
}

#ramp-page-container thead tr th,
#ramp-page-container tr:last-of-type td {
  font-weight: bold !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

#progress-page-container thead tr th,
#progress-page-container tr:last-of-type td {
  font-weight: bold !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

#settings-page-container h5 {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

#metrics-page-container .dropdown-toggle {
  outline: 0;
}

#metrics-page-container .btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgb(0 0 0 / 65%);
  background-color: transparent;
}

#metrics-page-container .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

#metrics-page-container .btn-toggle[aria-expanded='true'] {
  color: rgb(0 0 0 / 85%);
}

#metrics-page-container .btn-toggle[aria-expanded='true']::before {
  transform: rotate(90deg);
}

#metrics-page-container .btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}

#metrics-page-container .btn-toggle:hover,
#metrics-page-container .btn-toggle:focus,
#metrics-page-container .btn-toggle-nav a:hover,
#metrics-page-container .btn-toggle-nav a:focus {
  color: white !important;
  background-color: black;
}

.home-page #v-pills-home {
  display: block !important;
}

.metrics-page #v-pills-metrics {
  display: block !important;
}

.goals-page #v-pills-ramp {
  display: block !important;
}

.show-on-ramp-page {
  display: none !important;
}

.goals-page header .show-on-ramp-page {
  display: flex !important;
}

.goals-page .hide-on-ramp-page {
  display: none !important;
}

.progress-page #v-pills-progress {
  display: block !important;
}

.reports-page #v-pills-reports {
  display: block !important;
}

.settings-page #v-pills-settings {
  display: block !important;
}

.users-page #v-pills-users {
  display: block !important;
}

.list-group-item.list-group-item-action.d-flex.justify-content-between {
  padding: 12px 16px;
}

.card,
.list-group-item.shadow-sm.border-white {
  border: 1px solid #efefef !important;
}

.metrics-card-container-clickable .card {
  cursor: pointer;
}

nav li:hover {
  background-color: #fcfcfc;
}

/* Fix to adjust 'cumulative' label on header */
label.form-check-label.align-middle {
  padding-top: 0.25rem;
}

h1 {
  margin-bottom: 0 !important;
  font-weight: bold !important;
}

html {
  height: 100% !important;
}

body.not-logged-in {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

body.not-logged-in #login-top {
  display: flex !important;
  width: 100%;
}

body.not-logged-in #login-top > div {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

/* computer (not mobile) media */
@media (min-width: 700px) {
  .nav div {
    display: inline;
    margin: 0 0.1rem;
  }

  .nav .active {
    background: #fff !important;
    color: #0d6efd !important;
  }

  nav a {
    text-align: center !important;
    color: #555 !important;
    padding: 0 1.3rem !important;
    font-size: 0.9rem !important;
  }

  nav i {
    display: inline-block;
    margin-right: 0.3rem;
  }

  .brand a {
    display: block;
  }

  .brand a img {
    margin: auto !important;
  }

  .brand,
  .brand a,
  .brand * {
    text-decoration: none !important;
    border: none !important;
  }

  .nav .nav-item:has(.active) {
    border-bottom: 3px solid #0d6efd;
  }

  .nav,
  .nav li,
  .nav a {
    height: 100%;
  }

  .nav a {
    padding-top: 1.1rem !important;
  }

  #navbar,
  #navbar * {
    vertical-align: middle !important;
  }
}

@media (max-width: 700px) {
  .nav button {
    font-size: 0.85rem;
    padding: 0.5rem !important;
    border-bottom: 2px solid #ccc !important;
    border-radius: 0 !important;
    margin: 0.2rem;
    color: #777;

    /* font-weight: bold; */
  }

  .nav button.active {
    background: inherit !important;
    color: black !important;
    border-color: black !important;
  }

  .dropdown {
    display: none !important;
  }

  hr {
    margin: 0 !important;
  }

  .brand img,
  .brand {
    display: block !important;
    margin: 0 auto !important;
    margin-top: 0 !important;
    padding: 0.3rem 0 !important;
  }

  #navbar {
    background: inherit !important;
    border: 0 none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
  }
}
