body {
  font-family: system-ui !important;
}

h1 {
  font-weight: bold !important;
}

:root {
  --logocolor: #ffbe59;
}

.brand {
  width: 90% !important;
  margin: 0 auto;
  padding-left: 3px;
  padding-top: 1rem !important;
  display: block;
}

@media (max-width: 700px) {
  .nav button {
    font-size: 0.85rem;
    padding: 0.5rem !important;
    border-bottom: 2px solid #ccc !important;
    border-radius: 0 !important;
    margin: 0.2rem;
    color: #777;
    /*font-weight: bold;*/
  }
  .nav button.active {
    background: inherit !important;
    color: black !important;
    border-color: black !important;
  }
  .dropdown {
    display: none !important;
  }
  hr {
    margin: 0px !important;
  }
  .brand img,
  .brand {
    display: block !important;
    margin: 0 auto !important;
    margin-top: 0 !important;
    padding: 0.3rem 0 !important;
  }
  #sidebar {
    background: inherit !important;
    border: 0 none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
  }
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
}

/*main {
  display: none;
  margin: 0 auto 6rem;
  max-width: 1200px;
  width: 90vw;
}*/

#firebaseui-auth-container {
  font-weight: 800;
}
.logged-in #firebaseui-auth-container {
  display: none !important;
  height: 0 !important;
}
.logged-in main {
  display: block !important;
}

footer {
  color: #444;
  font-size: 0.875rem;
  text-align: center;
}

footer a {
  color: inherit;
}

header img {
  min-width: 170px;
  max-width: 75%;
  line-height: auto;
  vertical-align: center;
}

.products {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.product img {
  width: 300px;
}

.product input {
  border: 1px solid blue;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  padding: 0.25rem;
}

button {
  display: block;
  cursor: pointer;
  background: black;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem;
}

select {
  transition: box-shadow 0.2s ease;
  background: none;
  border: 5px solid #fbc02e;
  font-size: 1.25rem;
}

label {
  display: block;
}

#subscribe,
#my-subscription {
  display: none;
}

/* Test card number */
.test-card-notice {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.card-number {
  display: inline;
  white-space: nowrap;
  font-family: Menlo, Consolas, monospace;
  color: #3c4257;
  font-weight: 500;
}

.card-number span {
  display: inline-block;
  width: 4px;
}

.header-wrapper {
  background: #fff;
  padding: 1rem 5vw;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(2, 50%);
}

header {
  /*
  background: linear-gradient(to right, #fbc02e, rgb(212 21 212));
  position: relative;
  padding: 3px;
  margin: 0.3em;
  */
}

header a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}
/*
header button {
  float: right;
  margin-left: 1em;
  display: none !important;
  clear: both;
}
*/

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/*
#credential_picker_container {
  position: inherit !important;
}
*/
/*
#wrapper {max-width: 1440px !important; margin: 0 auto}
*/

.container {
  max-width: inherit !important;
}

#login-top {
  display: none;
}

.not-logged-in #login-top {
  display: block !important;
}

.metrics-card-container-clickable .card {
  cursor: pointer;
}

#sidebar button {
  font-size: 0.9rem !important;
  color: #666;
}

#sidebar button.active {
  background: #f8f9fa;
  color: #444;
}

#sidebar button div {
  display: inline;
  margin-right: 0.2em;
}

#sidebar button {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}
#sidebar {
  min-height: 100vw;
}

#reportrange {
  color: #0d6efd !important;
  border: 1px solid #0d6efd !important;
  padding: 0.45em 0.6em !important;
  margin-left: 0.5em;
  border-radius: 0.4em;
}

.ranges,
.ranges *,
.daterangepicker,
.daterangepicker * {
  font-size: inherit !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif !important;
}
.daterangepicker .drp-calendar {
  font-size: 0.9rem !important;
}

.daterangepicker.ltr.show-ranges:not(.show-calendar) {
  width: 265px !important;
}

.daterangepicker.ltr.show-ranges:not(.show-calendar) * {
  width: 100% !important;
}

.daterangepicker .ranges li.active {
  background: #0d6efd !important;
}

.daterangepicker .ranges * * {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.ranges {
  border-right: 1px solid #ddd;
}

.drp-calendar.left {
  border-left: none !important;
}

.form-switch .form-check-input {
  height: 1.5rem;
  width: 3em !important;
  border-radius: 2rem;
  margin-right: 0.4em;
  vertical-align: middle !important;
}

nav-tabs nav-link border-bottom rounded-0 {
  border: 0 !important;
}

.underline-nav {
  font-size: 0.85rem !important;
}

.underline-nav .nav-item {
  padding: 0.4rem 0.5rem !important;
}

.underline-nav a {
  color: grey;
}

.underline-nav .active a {
  color: black;
  font-weight: bold;
}

.underline-nav .nav-item > a {
  padding: 0 !important;
  border: 0 !important;
}

.underline-nav .active {
  border-bottom: 3px solid black;
  margin-bottom: -1px;
}

.underline-nav .dropdown-menu {
  margin-top: 0px !important;
}

.card-title {
  font-weight: bold;
}
#collapseTableDiv {
}

#ramp-page-container thead tr th,
#ramp-page-container tr:last-of-type td {
  font-weight: bold !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

#progress-page-container thead tr th,
#progress-page-container tr:last-of-type td {
  font-weight: bold !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
#settings-page-container form {
  max-width: 550px;
}

#settings-page-container h5 {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
#metrics-page-container .dropdown-toggle {
  outline: 0;
}

#metrics-page-container .btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}

#metrics-page-container .btn-toggle:hover,
#metrics-page-container .btn-toggle:focus,
#metrics-page-container .btn-toggle-nav a:hover,
#metrics-page-container .btn-toggle-nav a:focus {
  color: white !important;
  background-color: black;
}

#metrics-page-container .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

#metrics-page-container .btn-toggle[aria-expanded='true'] {
  color: rgba(0, 0, 0, 0.85);
}

#metrics-page-container .btn-toggle[aria-expanded='true']::before {
  transform: rotate(90deg);
}

#metrics-page-container .btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
