@media (max-width: 700px) {
  .nav button {
    font-size: 0.85rem;
    padding: 0.5rem !important;
    border-bottom: 2px solid #ccc !important;
    border-radius: 0 !important;
    margin: 0.2rem;
    color: #777;
    /*font-weight: bold;*/
  }
  .nav button.active {
    background: inherit !important;
    color: black !important;
    border-color: black !important;
  }
  .dropdown {
    display: none !important;
  }
  hr {
    margin: 0px !important;
  }
  .brand img,
  .brand {
    /*width: 100% !important;*/
    display: block !important;
    margin: 0 auto !important;
    margin-top: 0 !important;
    padding: 0.3rem 0 !important;
  }
  #sidebar {
    background: inherit !important;
    border: 0 none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
  }
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

main {
  display: none;
  margin: 0 auto 6rem;
  max-width: 1200px;
  width: 90vw;
}

#firebaseui-auth-container {
  font-weight: 800;
}
.logged-in #firebaseui-auth-container {
  display: none !important;
  height: 0 !important;
}
.logged-in main {
  display: block !important;
}

footer {
  color: #444;
  font-size: 0.875rem;
  text-align: center;
}

footer a {
  color: inherit;
}

header img {
  min-width: 170px;
  max-width: 75%;
  line-height: auto;
  vertical-align: center;
}

.products {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.product img {
  width: 300px;
}

.product input {
  border: 1px solid #039be5;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  padding: 0.25rem;
}

button {
  display: block;
  cursor: pointer;
  background: black;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem;
}

select {
  transition: box-shadow 0.2s ease;
  background: none;
  border: 5px solid #fbc02e;
  font-size: 1.25rem;
}

label {
  display: block;
}

#subscribe,
#my-subscription {
  display: none;
}

/* Test card number */
.test-card-notice {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.card-number {
  display: inline;
  white-space: nowrap;
  font-family: Menlo, Consolas, monospace;
  color: #3c4257;
  font-weight: 500;
}

.card-number span {
  display: inline-block;
  width: 4px;
}

.header-wrapper {
  background: #fff;
  padding: 1rem 5vw;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(2, 50%);
}

header {
  /*
  background: linear-gradient(to right, #fbc02e, rgb(212 21 212));
  position: relative;
  padding: 3px;
  margin: 0.3em;
  */
}

header a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}

header button {
  float: right;
  margin-left: 1em;
  display: none !important;
  clear: both;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.logged-in header button {
  display: block !important;
}

.must-be-logged-in {
  display: none;
}
.logged-in .must-be-logged-in {
  display: block;
}

.logged-in .hide-if-logged-in {
  display: none;
}

#credential_picker_container {
  position: inherit !important;
}
